<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <link href="http://fonts.googleapis.com/css?family=Nunito:300,400,700" rel="stylesheet" type="text/css">
    <link href="../../assets/libraries/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../../assets/libraries/owl.carousel/assets/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="../../assets/libraries/colorbox/example1/colorbox.css" rel="stylesheet" type="text/css">
    <link href="../../assets/libraries/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" type="text/css">
    <link href="../../assets/libraries/bootstrap-fileinput/fileinput.min.css" rel="stylesheet" type="text/css">
    <link href="../../assets/css/superlist.css" rel="stylesheet" type="text/css">

    <link rel="shortcut icon" type="image/x-icon" href="../../assets/favicon.png">

    <title>ブログ新規投稿</title>
</head>


<body class="">

    <div class="page-wrapper">
        <div id="header" class="header"></div>




        <div class="main">
            <div class="main-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 col-lg-3">
                            <div class="sidebar">
                                <div class="widget">
                                    <div class="user-photo">
                                        <a href="#">
                                            <img src="../../assets/img/tmp/agent-2.jpg" alt="User Photo">
                                            <span class="user-photo-action">Click here to reupload</span>
                                        </a>
                                    </div><!-- /.user-photo -->
                                </div><!-- /.widget -->


                                <div class="widget">

                                    <ul class="menu-advanced">
                                        <li><a href="listing-submit.html"><i class="fa fa-pencil"></i> Submit
                                                Listing</a></li>
                                        <li class="active"><a href="#"><i class="fa fa-user"></i> Edit Profile</a></li>
                                        <li><a href="#"><i class="fa fa-key"></i> Password</a></li>
                                        <li><a href="#"><i class="fa fa-sign-out"></i> Logout</a></li>
                                    </ul>
                                </div><!-- /.widget -->

                            </div><!-- /.sidebar -->
                        </div><!-- /.col-* -->

                        <div class="col-sm-8 col-lg-9">
                            <div class="content">
                                <div class="page-title">
                                    <h1>ブログ投稿</h1>
                                </div><!-- /.page-title -->

                                <div class="background-white p20 mb30">
                                    <h3 class="page-title">
                                        Contact Information

                                        <a href="#" class="btn btn-primary btn-xs pull-right">Save</a>
                                    </h3>

                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <label>Name</label>
                                            <input type="text" class="form-control" value="John">
                                        </div><!-- /.form-group -->

                                        <div class="form-group col-sm-6">
                                            <label>Surname</label>
                                            <input type="text" class="form-control" value="Doe">
                                        </div><!-- /.form-group -->

                                        <div class="form-group col-sm-6">
                                            <label>E-mail</label>
                                            <input type="text" class="form-control" value="sample@example.com">
                                        </div><!-- /.form-group -->

                                        <div class="form-group col-sm-6">
                                            <label>Phone</label>
                                            <input type="text" class="form-control" value="123-456-789">
                                        </div><!-- /.form-group -->
                                    </div><!-- /.row -->
                                </div>

                                <div class="background-white p20 mb30">
                                    <h3 class="page-title">
                                        Social Connections

                                        <a href="#" class="btn btn-primary btn-xs pull-right">Save</a>
                                    </h3>

                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Facebook</label>

                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" value="http://facebook.com/">
                                            </div><!-- /.col-* -->
                                        </div><!-- /.form-group -->

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Twitter</label>

                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" value="http://twitter.com/">
                                            </div><!-- /.col-* -->
                                        </div><!-- /.form-group -->

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Linkedin</label>

                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" value="http://linkedin.com/">
                                            </div><!-- /.col-* -->
                                        </div><!-- /.form-group -->

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Dribbble</label>

                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" value="http://dribbble.com/">
                                            </div><!-- /.col-* -->
                                        </div><!-- /.form-group -->

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Instagram</label>

                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" value="http://instagram.com/">
                                            </div><!-- /.col-* -->
                                        </div><!-- /.form-group -->
                                    </div><!-- /.form-inline -->
                                </div><!-- /.background-white -->

                                <div class="background-white p20 mb30">
                                    <h3 class="page-title">
                                        Address

                                        <a href="#" class="btn btn-primary btn-xs pull-right">Save</a>
                                    </h3>

                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <label>State</label>
                                            <input type="text" class="form-control" value="New York">
                                        </div><!-- /.form-group -->

                                        <div class="form-group col-sm-6">
                                            <label>City</label>
                                            <input type="text" class="form-control" value="New York City">
                                        </div><!-- /.form-group -->

                                        <div class="form-group col-sm-6">
                                            <label>Street</label>
                                            <input type="text" class="form-control" value="Everton Eve">
                                        </div><!-- /.form-group -->

                                        <div class="form-group col-sm-3">
                                            <label>House Number</label>
                                            <input type="text" class="form-control" value="123">
                                        </div><!-- /.form-group -->

                                        <div class="form-group col-sm-3">
                                            <label>ZIP</label>
                                            <input type="text" class="form-control" value="12345">
                                        </div><!-- /.form-group -->
                                    </div><!-- /.row -->
                                </div>

                                <div class="background-white p20 mb30">
                                    <h3 class="page-title">
                                        Biography

                                        <a href="#" class="btn btn-primary btn-xs pull-right">Save</a>
                                    </h3>

                                    <textarea class="form-control" rows="7"></textarea>
                                </div>

                            </div><!-- /.content -->
                        </div><!-- /.col-* -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.main-inner -->
        </div><!-- /.main -->

        <div id="footer" class="footer"></div>

    </div><!-- /.page-wrapper -->

    <script src="../../assets/js/jquery.js" type="text/javascript"></script>
    <script src="../../assets/js/map.js" type="text/javascript"></script>
    <script src="../../assets/js/headerfooter.js" type="text/javascript"></script>

    <script src="../../assets/libraries/bootstrap-sass/javascripts/bootstrap/collapse.js"
        type="text/javascript"></script>
    <script src="../../assets/libraries/bootstrap-sass/javascripts/bootstrap/carousel.js"
        type="text/javascript"></script>
    <script src="../../assets/libraries/bootstrap-sass/javascripts/bootstrap/transition.js"
        type="text/javascript"></script>
    <script src="../../assets/libraries/bootstrap-sass/javascripts/bootstrap/dropdown.js"
        type="text/javascript"></script>
    <script src="../../assets/libraries/bootstrap-sass/javascripts/bootstrap/tooltip.js"
        type="text/javascript"></script>
    <script src="../../assets/libraries/bootstrap-sass/javascripts/bootstrap/tab.js" type="text/javascript"></script>
    <script src="../../assets/libraries/bootstrap-sass/javascripts/bootstrap/alert.js" type="text/javascript"></script>

    <script src="../../assets/libraries/colorbox/jquery.colorbox-min.js" type="text/javascript"></script>

    <script src="../../assets/libraries/flot/jquery.flot.min.js" type="text/javascript"></script>
    <script src="../../assets/libraries/flot/jquery.flot.spline.js" type="text/javascript"></script>

    <script src="../../assets/libraries/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>

    <script src="http://maps.googleapis.com/maps/api/js?libraries=weather,geometry,visualization,places,drawing"
        type="text/javascript"></script>

    <script type="text/javascript" src="../../assets/libraries/jquery-google-map/infobox.js"></script>
    <script type="text/javascript" src="../../assets/libraries/jquery-google-map/markerclusterer.js"></script>
    <script type="text/javascript" src="../../assets/libraries/jquery-google-map/jquery-google-map.js"></script>

    <script type="text/javascript" src="../../assets/libraries/owl.carousel/owl.carousel.js"></script>
    <script type="text/javascript" src="../../assets/libraries/bootstrap-fileinput/fileinput.min.js"></script>

    <script src="../../assets/js/superlist.js" type="text/javascript"></script>

</body>

</html>