<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <link href="http://fonts.googleapis.com/css?family=Nunito:300,400,700" rel="stylesheet" type="text/css">
    <link href="../assets/libraries/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../assets/libraries/owl.carousel/assets/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="../assets/libraries/colorbox/example1/colorbox.css" rel="stylesheet" type="text/css">
    <link href="../assets/libraries/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" type="text/css">
    <link href="../assets/libraries/bootstrap-fileinput/fileinput.min.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/superlist.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/oresapo.css" rel="stylesheet" type="text/css">

    <link rel="shortcut icon" type="image/x-icon" href="../assets/favicon.png">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9Q3QL69CQZ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-9Q3QL69CQZ');
    </script>
    <title>メイン</title>
</head>

<body class="">

    <div class="page-wrapper">

        <div id="header" class="header"></div>

        <div class="main">
            <div class="main-inner">
                <div class="content">
                    <div class="mt-80">
                        <div class="hero-video">
                            <video preload="metadata" autoplay="" muted="" loop="">
                                <source src="http://preview.byaviators.com/template/superlist/assets/img/tmp/video.mp4"
                                    type="video/mp4">
                            </video>

                            <div class="video-overlay"></div>

                            <div class="container">


                                <div class="col-sm-6 col-xs-12 col-sm-push-6 col-xs-offset-0 ">
                                    <h1>おれさぽ</h1>
                                    <p>認知機能ソリューション</p>
                                </div><!-- /.col-* -->

                                <div class="row">
                                    <div class="col-sm-6 col-xs-12 col-sm-pull-6">
                                        <button class="btn btn-primary col-md-5 col-xs-12 " type="button"
                                            onclick="location.href='./cogevo/cogevo_dashbord.html'">
                                            自分の状態を測る</button>

                                        <button class="btn btn-primary col-md-5 col-xs-12 " type="button"
                                            onclick="location.href='./blog/blog_top.html'">
                                            体験談を読む</button>

                                        <button class="btn btn-primary col-md-5 col-xs-12" type="button"
                                            onclick="location.href='./solution/solution_top.html'">
                                            商品を購入する</button>

                                        <button class="btn btn-primary col-md-5 col-xs-12" type="button"
                                            onclick="location.href='./index.html'">
                                            認知機能を知る</button>

                                    </div><!-- /.col-* -->

                                </div><!-- /.row -->
                            </div><!-- /.container -->
                        </div><!-- /.hero-video -->

                    </div>

                    <div class="container">
                        <div class="block background-white fullwidth pt0 pb0">
                            <div class="detail-gallery">
                                <ul class="detail-gallery-index">
                                    <li class="detail-gallery-list-item active">
                                        <a data-target="../assets/img/tmp/gallery-1.jpg">
                                            <img src="../assets/img/tmp/gallery-1.jpg" alt="...">
                                            <span style="position: absolute; top: 10px; left: 30px;">
                                                <h4 style="color: white;">
                                                    新着情報その１
                                                </h4>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="detail-gallery-list-item active">
                                        <a data-target="../assets/img/tmp/gallery-2.jpg">
                                            <img src="../assets/img/tmp/gallery-2.jpg" alt="...">
                                            <span style="position: absolute; top: 10px; left: 30px;">
                                                <h4 style="color: white;">
                                                    今日のニュース
                                                </h4>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="detail-gallery-list-item active">
                                        <a data-target="../assets/img/tmp/gallery-3.jpg">
                                            <img src="../assets/img/tmp/gallery-3.jpg" alt="...">
                                            <span style="position: absolute; top: 10px; left: 30px;">
                                                <h4 style="color: white;">
                                                    「基礎知識：記憶力」更新
                                                </h4>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="detail-gallery-list-item active">
                                        <a data-target="../assets/img/tmp/gallery-4.jpg">
                                            <img src="../assets/img/tmp/gallery-4.jpg" alt="...">
                                            <span style="position: absolute; top: 10px; left: 30px;">
                                                <h4 style="color: white;">
                                                    今日のお勧め商品
                                                </h4>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="detail-gallery-list-item active">
                                        <a data-target="../assets/img/tmp/gallery-5.jpg">
                                            <img src="../assets/img/tmp/gallery-5.jpg" alt="...">
                                            <span style="position: absolute; top: 10px; left: 30px;">
                                                <h4 style="color: white;">
                                                    季節によって注意する所
                                                </h4>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="detail-gallery-list-item active">
                                        <a data-target="../assets/img/tmp/gallery-6.jpg">
                                            <img src="../assets/img/tmp/gallery-6.jpg" alt="...">
                                            <span style="position: absolute; top: 10px; left: 30px;">
                                                <h4 style="color: white;">
                                                    お勧め
                                                </h4>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="detail-gallery-list-item active">
                                        <a data-target="../assets/img/tmp/gallery-7.jpg">
                                            <img src="../assets/img/tmp/gallery-7.jpg" alt="...">
                                            <span style="position: absolute; top: 10px; left: 30px;">
                                                <h4 style="color: white;">
                                                    お勧め
                                                </h4>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="detail-gallery-list-item active">
                                        <a data-target="../assets/img/tmp/gallery-8.jpg">
                                            <img src="../assets/img/tmp/gallery-8.jpg" alt="...">
                                            <span style="position: absolute; top: 10px; left: 30px;">
                                                <h4 style="color: white;">
                                                    お勧め
                                                </h4>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div><!-- /.detail-gallery -->
                        </div>

                        <div class="page-header">
                            <h1>最新ブログ記事 &amp; 商品</h1>
                            <p>５つの認知機能に関する記事と商品</p>
                        </div><!-- /.page-header -->

                        <div class="cards-simple-wrapper">
                            <ul id="listing-detail-location" class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#simple-map-panel" aria-controls="simple-map-panel" role="tab"
                                        data-toggle="tab">
                                        <i class="fa fa-database"></i>記憶力
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#street-view-panel" aria-controls="street-view-panel" role="tab"
                                        data-toggle="tab">
                                        <i class="fa fa-car"></i>注意力
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#street-view-panel" aria-controls="street-view-panel" role="tab"
                                        data-toggle="tab">
                                        <i class="fa fa-map"></i>計画力
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#street-view-panel" aria-controls="street-view-panel" role="tab"
                                        data-toggle="tab">
                                        <i class="fa fa-book"></i>見当識
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#street-view-panel" aria-controls="street-view-panel" role="tab"
                                        data-toggle="tab">
                                        <i class="fa fa-street-view"></i>空間認識力
                                    </a>
                                </li>
                            </ul>

                        </div><!-- /.cards-simple-wrapper -->


                        <div class="block background-white fullwidth mt80">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="posts">
                                        <div class="post">
                                            <div class="post-image">
                                                <img src="../assets/img/tmp/tablet_family.png" alt="">
                                                <a class="read-more" href="blog-detail-right-sidebar.html">View</a>
                                            </div><!-- /.post-image -->

                                            <div class="post-content">
                                                <div class="post-label">記憶力</div><!-- /.post-label -->
                                                <div class="post-date">07/12/2020</div><!-- /.post-date -->
                                                <h2>ついにコグエボにデビューしました！<br><small>40代 女性 にゃっきーさん</small></h2>
                                                <p>コグエボは友人に紹介してくれたサイトです。今日試してみました...</p>
                                            </div><!-- /.post-content -->
                                        </div><!-- /.post -->



                                        <div class="post">
                                            <div class="post-image">
                                                <img src="../assets/img/tmp/suppliment_pill_diet.png" alt="">
                                                <a class="read-more" href="blog-detail-right-sidebar.html">View</a>
                                            </div><!-- /.post-image -->

                                            <div class="post-content">
                                                <div class="post-label">全般</div><!-- /.post-label -->
                                                <div class="post-date">06/18/2020</div><!-- /.post-date -->
                                                <h2>母の認知機能について<br><small>50代 男性 ichiroさん</small></h2>
                                                <p>最近物忘れの場合は多くなって気がします。大丈夫がなっと心配しいます...</p>
                                            </div><!-- /.post-content -->
                                        </div><!-- /.post -->



                                        <div class="post">
                                            <div class="post-image">
                                                <img src="../assets/img/tmp/amabie_dance.png" alt="">
                                                <a class="read-more" href="blog-detail-right-sidebar.html">View</a>
                                            </div><!-- /.post-image -->

                                            <div class="post-content">
                                                <div class="post-label">計画力</div><!-- /.post-label -->
                                                <div class="post-date">05/26/2020</div><!-- /.post-date -->
                                                <h2>たまには家族と温泉旅行にいこう！<br><small>40代 男性 信也さん</small></h2>
                                                <p>温泉行きたい！いっぱい遊んだり、会話を楽しんだり。また行きたい...</p>
                                            </div><!-- /.post-content -->
                                        </div><!-- /.post -->
                                    </div><!-- /.posts -->

                                </div><!-- /post.col-* -->

                                <div class="col-sm-6">
                                    <!-- level 1 -->
                                    <div class="col-lg-6 col-md-12">
                                        <div class="card-simple" data-background-image="../assets/img/product/3.jpg">
                                            <div class="card-simple-background">
                                                <div class="card-simple-content">
                                                    <h2>
                                                        <a href="blog/blog_detail.html">
                                                            記憶力に効く！！<br>国産クルミ<br>500円/パック
                                                        </a>
                                                    </h2>
                                                    <div class="card-simple-rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div><!-- /.card-rating -->

                                                    <div class="card-simple-actions">
                                                        <a href="#" class="fa fa-bookmark-o"></a>
                                                        <a href="blog/blog_detail.html" class="fa fa-search"></a>
                                                        <a href="#" class="fa fa-heart-o"></a>
                                                    </div><!-- /.card-simple-actions -->
                                                </div><!-- /.card-simple-content -->

                                                <div class="card-simple-label">食品・サプリ</div>

                                                <div class="card-simple-price">あなたにおススメ</div>
                                            </div><!-- /.card-simple-background -->
                                        </div><!-- /.card-simple -->
                                    </div><!-- /.col-* -->



                                    <div class="col-lg-6 col-md-12">
                                        <div class="card-simple" data-background-image="../assets/img/product/5.jpg">
                                            <div class="card-simple-background">
                                                <div class="card-simple-content">
                                                    <h2>
                                                        <a href="listing-detail.html">
                                                            ボールを握って<br>脳に刺激を！！<br>300円/個
                                                        </a>
                                                    </h2>
                                                    <div class="card-simple-rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div><!-- /.card-rating -->

                                                    <div class="card-simple-actions">
                                                        <a href="#" class="fa fa-bookmark-o"></a>
                                                        <a href="listing-detail.html" class="fa fa-search"></a>
                                                        <a href="#" class="fa fa-heart-o"></a>
                                                    </div><!-- /.card-simple-actions -->
                                                </div><!-- /.card-simple-content -->

                                                <div class="card-simple-label">健康器具</div>
                                            </div><!-- /.card-simple-background -->
                                        </div><!-- /.card-simple -->
                                    </div><!-- /.col-* -->

                                    <div class="col-lg-6 col-md-12">
                                        <div class="card-simple" data-background-image="../assets/img/product/4.jpg">
                                            <div class="card-simple-background">
                                                <div class="card-simple-content">
                                                    <h2>
                                                        <a href="listing-detail.html">
                                                            熟睡できるBGM<br>聞き放題<br>100円/月
                                                        </a>
                                                    </h2>
                                                    <div class="card-simple-rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div><!-- /.card-rating -->

                                                    <div class="card-simple-actions">
                                                        <a href="#" class="fa fa-bookmark-o"></a>
                                                        <a href="listing-detail.html" class="fa fa-search"></a>
                                                        <a href="#" class="fa fa-heart-o"></a>
                                                    </div><!-- /.card-simple-actions -->
                                                </div><!-- /.card-simple-content -->

                                                <div class="card-simple-label">サービス</div>
                                                <div class="card-simple-price">人気商品★★★★★</div>
                                            </div><!-- /.card-simple-background -->
                                        </div><!-- /.card-simple -->
                                    </div><!-- /.col-* -->

                                    <div class="col-lg-6 col-md-12">
                                        <div class="card-simple" data-background-image="../assets/img/product/1.jpg">
                                            <div class="card-simple-background">
                                                <div class="card-simple-content">
                                                    <h2>
                                                        <a href="listing-detail.html">
                                                            アロマで脳を癒そう<br>アロマキャンドル<br>1,000円/50個
                                                        </a>
                                                    </h2>
                                                    <div class="card-simple-rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div><!-- /.card-rating -->

                                                    <div class="card-simple-actions">
                                                        <a href="#" class="fa fa-bookmark-o"></a>
                                                        <a href="listing-detail.html" class="fa fa-search"></a>
                                                        <a href="#" class="fa fa-heart-o"></a>
                                                    </div><!-- /.card-simple-actions -->
                                                </div><!-- /.card-simple-content -->

                                                <div class="card-simple-label">癒し</div>

                                            </div><!-- /.card-simple-background -->
                                        </div><!-- /.card-simple -->
                                    </div><!-- /.col-* -->
                                </div>
                                <!-- level1 -->
                            </div><!-- /.row -->
                        </div><!-- /.block -->

                        <div class="page-header">
                            <h1>基礎知識</h1>
                            <p>認知機能塾ではお気に入りの内容を見ることができますよ！</p>
                        </div><!-- /.page-header -->

                        <div class="block background-black-light fullwidth">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="box">
                                        <div class="box-icon">
                                            <i class="fa fa-life-ring"></i>
                                        </div><!-- /.box-icon -->

                                        <div class="box-content">
                                            <h2>５つの認知機能</h2>
                                            <p>認知機能についてご紹介します。</p>

                                            <a href="#">Read More <i class="fa fa-chevron-right"></i></a>
                                        </div><!-- /.box-content -->
                                    </div>
                                </div><!-- /.col-sm-4 -->

                                <div class="col-md-3">
                                    <div class="box">
                                        <div class="box-icon">
                                            <i class="fa fa-flask"></i>
                                        </div><!-- /.box-icon -->

                                        <div class="box-content">
                                            <h2>研究成果</h2>
                                            <p>最新の研究成果をご紹介します。</p>

                                            <a href="#">Read More <i class="fa fa-chevron-right"></i></a>
                                        </div><!-- /.box-content -->
                                    </div>
                                </div><!-- /.col-sm-4 -->

                                <div class="col-md-3">
                                    <div class="box">
                                        <div class="box-icon">
                                            <i class="fa fa-thumbs-o-up"></i>
                                        </div><!-- /.box-icon -->

                                        <div class="box-content">
                                            <h2>お悩み</h2>
                                            <p>認知機能のお悩みをまとめました。</p>

                                            <a href="#">Read More <i class="fa fa-chevron-right"></i></a>
                                        </div><!-- /.box-content -->
                                    </div>
                                </div><!-- /.col-sm-4 -->

                                <div class="col-md-3">
                                    <div class="box">
                                        <div class="box-icon">
                                            <i class="fa fa-users"></i>
                                        </div><!-- /.box-icon -->

                                        <div class="box-content">
                                            <h2>事例</h2>
                                            <p>認知機能の改善が見られた方を紹介します。</p>

                                            <a href="#">Read More <i class="fa fa-chevron-right"></i></a>
                                        </div><!-- /.box-content -->
                                    </div>
                                </div><!-- /.col-sm-4 -->
                            </div><!-- /.row -->

                        </div><!-- /.block -->


                        <div class="block background-secondary fullwidth mt80 mb-80 pt60 pb60">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="contact-info-wrapper">
                                        <h2>Do You Have Any Questions?</h2>

                                        <div class="contact-info">
                                            <span class="contact-info-item">
                                                <i class="fa fa-at"></i>
                                                <span>support@sitename.com</span>
                                            </span><!-- /.contact-info-item -->

                                            <span class="contact-info-item">
                                                <i class="fa fa-phone"></i>
                                                <span>+123-456-789</span>
                                            </span><!-- /.contact-info-item -->
                                        </div><!-- /.contact-info-->
                                    </div><!-- /.contact-info-wrapper -->
                                </div><!-- /.col-* -->
                            </div><!-- /.row -->

                        </div><!-- /.block -->




                    </div><!-- /.container -->

                </div><!-- /.content -->
            </div><!-- /.main-inner -->
        </div><!-- /.main -->

        <div id="footer" class="footer"></div>

    </div><!-- /.page-wrapper -->

    <script src="../assets/js/jquery.js" type="text/javascript"></script>
    <script src="../assets/js/map.js" type="text/javascript"></script>
    <script src="/assets/js/headerfooter.js" type="text/javascript"></script>
    <script src="../assets/libraries/bootstrap-sass/javascripts/bootstrap/collapse.js" type="text/javascript"></script>
    <script src="../assets/libraries/bootstrap-sass/javascripts/bootstrap/carousel.js" type="text/javascript"></script>
    <script src="../assets/libraries/bootstrap-sass/javascripts/bootstrap/transition.js"
        type="text/javascript"></script>
    <script src="../assets/libraries/bootstrap-sass/javascripts/bootstrap/dropdown.js" type="text/javascript"></script>
    <script src="../assets/libraries/bootstrap-sass/javascripts/bootstrap/tooltip.js" type="text/javascript"></script>
    <script src="../assets/libraries/bootstrap-sass/javascripts/bootstrap/tab.js" type="text/javascript"></script>
    <script src="../assets/libraries/bootstrap-sass/javascripts/bootstrap/alert.js" type="text/javascript"></script>

    <script src="../assets/libraries/colorbox/jquery.colorbox-min.js" type="text/javascript"></script>

    <script src="../assets/libraries/flot/jquery.flot.min.js" type="text/javascript"></script>
    <script src="../assets/libraries/flot/jquery.flot.spline.js" type="text/javascript"></script>

    <script src="../assets/libraries/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>

    <script src="http://maps.googleapis.com/maps/api/js?libraries=weather,geometry,visualization,places,drawing"
        type="text/javascript"></script>

    <script type="text/javascript" src="../assets/libraries/jquery-google-map/infobox.js"></script>
    <script type="text/javascript" src="../assets/libraries/jquery-google-map/markerclusterer.js"></script>
    <script type="text/javascript" src="../assets/libraries/jquery-google-map/jquery-google-map.js"></script>

    <script type="text/javascript" src="../assets/libraries/owl.carousel/owl.carousel.js"></script>
    <script type="text/javascript" src="../assets/libraries/bootstrap-fileinput/fileinput.min.js"></script>

    <script src="../assets/js/superlist.js" type="text/javascript"></script>

</body>

</html>